@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@700&display=swap');
@import url('https://fonts.google.com/selection?query=robot&selection.family=Roboto');
body{
    margin: 0;
    padding: 0;
}
.home{
    min-height: 100vh;
    width: 100% ;
    background:url(../images/bg_header.jpg) top center fixed no-repeat;
    background-size: cover;
}
header{
    position: fixed;
    height: 150px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}
.navbar-brand img{
    width: 120px;
}
.h2{
    margin-top: 200px;
}
h1,h2,h4,h5,h6{
color: white;
font-family:'Rokkitt', sans-serif;
}
h3{
    margin-bottom: 20px;
}
p{
    font-family:'Robotto', sans-serif;
}
.p1,.p2,.p3{
    color: white;
}
.p1{
    margin-top: 70px;
}
.p2{
    margin-bottom: 50px;
}
#btn1{
    background-color: #36c4c5;
}
#btn2{
    background-color: #f52257;
}
.btn{
    color: white;
    font-family: '';
}
.fond{
    height: 100%;
    width: 100% ;
    background:url(../images/bg_nuage.jpg) top center fixed no-repeat;
    background-size: cover;
}
#bcgblue{
    height: 100%;
    background-color: rgba(141, 201, 227, 0.573);
}
#containerbcgwhite{
    background-color: white;
}
.card{

    background: none;
}
.fondcamera{
    height: 100%;
    width: 100% ;
    background:url(../images/bg_appareil_photo.jpg) top center fixed no-repeat;
    background-size: cover;
}
#velo{
    width:400px;
}
.mosaique{
    background-color:#dddddd;
}
.fondbookblur{
    background-image:linear-gradient(rgba(0, 0, 0, 0.507),rgba(0, 0, 0, 0.457)),  url(../images/bg_newsletter.jpg);
}
span{
    color: #30a4b0;
}
.footer{
    background-color: #24323b;
}
svg{
    fill: white;
}
.svggreen{
    fill:  #30a4b0;
}